body {
    background-image: url("img/müzikbackground.jpg");
    background-size:100%
    
     
    
    
    
    
    

    
    
    
}
center>ol{
    list-style-position: inside;
}
div {

    border-radius:5px
 
 }

